html {
  font-size: 24px;
}
img {
  margin-top: 20px;
  border-radius: 3vw;
  width: 25vw;
}
body {
  background: linear-gradient(#1F1F1F,#211C38);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  text-align: center;
  height: 100vh;
}
a {
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin: 1vh;
  text-align: center;
  display: inline-block;
  justify-content: center;
  max-width: 140px;
  color: black;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Tablet */
@media (max-width: 1024px) {
  img {
    width: 50vw;
    border-radius: 5vw;
  }
}

/* Phones */
@media (max-width: 600px) {
  img {
    width: 60vw;
    border-radius: 5vw;
  }
}